#coment

/horoscope/key_file.py
/dictionary/bd_json/
/dictionary/USD_json/
/static/media/
/static/graph_fold/
/templates/contacts.html
/templates/search_.html
/templates/index1.html
/templates/news1.html
/templates/news2.html
/templates/test.html
/templates/test0.html
/templates/Visotsky.html
/templates/znak.html
/templates/news1.html~HEAD
/dictionary/exper001.py
/dictionary/OOP.py
/dictionary/scrapingNEW1.py
/dictionary/scrapingNEW2.py
/dictionary/tests.py
/dictionary/WWEEEBB3.py
/dictionary/WWEEEBBB4.py
/static/css/base.css
/static/css/base0.css
/static/css/bbb.css
/static/css/news.css
/static/css/news0.css