
html{
    color:#ADC178;
    background-color:#FCFBF2;
    font-size: 50spx;
}

body{
  margin-left: 200px;
  margin-right: 200px;
 font-size: 48px;
}


form {
  display: block;
  padding: 5px;
  width: 100%;
  color: white;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

form input {
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  //margin-left: 40%;
  width: 50%;
  height: 35px;
  border: 1px solid #ff8c00;
}

button {
  width: 25%;
  font-size: 50pt;
  color: white;

  height: 55px;
  padding: 10px;
  border: 1px solid #F5C4AB;
}

#text_block{
padding: 0 30px 0 30px;
font-size: 50px;
}


.formm:hover {
  border: 3px solid #f59605;
  background:#DDE5B6;
  color: #f59605;
}
.hr-line {
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #f59605;
}

.formm{
color: white;
background:#ADC178;
font-weight:bold;
letter-spacing:10px;
}

/* основа кнопки вверх */
.scroll_top {
    position: fixed; /* фиксированное положение */
    bottom: -50px; /* расстояние от нижнего края */
    right: 20px; /* расстояние от правого края */
    width: 50px; /* ширина */
    height: 50px; /* высота */
    border: 1px solid #ff8c00;
    /*border: none;  без рамки */
    border-radius: 50%; /* фигура круга */
    background: #ADC178;/* цвет фона */
    z-index: 100; /* поверх остальных элементов */
    outline: none; /* без внешней обводки */
    cursor: pointer;/* курсор рука */
    transition: 0.4s; /* плавное движение */
}


/* стрелочка внутри кнопки вверх */
.scroll_top:after {
    content: "";
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff; /* верхняя рамка */
      border-left: 2px solid #fff; /* левая рамка */
    transform: rotate(45deg); /* поворот */
    position: absolute; /* положение относительно круга */
    top: 7px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; /* выравнивание по центру */
}

/* кнопка появится */
.scroll_top.active {
    bottom: 20px;
}

.nn:link {
color:#004F00;
}

.nn:hover {
color:#BE1919;
}

.nn:visited {
color:#f59605;
}

#search{
font-weight:bold;
border:1px solid red;
}

