
html{
    color:#83817E;
    background-color:#D9CDC1;
    font-size: 30spx;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

body{
    margin: 0px;
    margin: 0px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

#head1{
    color:#F9FCFF;
    background-color:#82736C;
    margin-top: 0px;
    margin:0;
    padding: 70px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 25px #82736C;
    border: 2px solid #92837C;
}
#news_text{

    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

}
/*align: center;
 margin-left: 200px;
    margin-right: 200px;
  */
#news_box{
    padding-left: 50px;
    margin-left: 0px;
    padding-right: 50px;
    width: 100%;
    border: 2px solid #FFFEFC;
    background-color:#F5F4F2;
    display: block;
    box-shadow: 0 0 25px #82736C;

    border-radius: 40px;
    margin-bottom: 40px;

    }

p{
    line-height: 1.0em;
}

#time_source{
    margin-left: 20px;
    margin-right: 50px;
    font-size: 0.7em;
    color:#82736C;
}

form {
  display: block;
  padding: 5px;
  width: 100%;
  color: white;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#progress-container{
    position:fixed;
    left:0;top:3px;
    width:100%;
    z-index:1;
    border-radius: 2px;

    }
/*background:#BEC769;
box-shadow: 0 0 25px #82736C;
*/


#ProgressBar{
    height:12px;
    border-top: 6px solid #FAD3A4;
	border-bottom: 3px solid #AF7748;
    background-color:#E6AE7F;
    width:0%;
    margin-top:3px;

    box-shadow: 0 0 25px #82736C;

    }

/*

margin-top: -50px;
    padding-top: 50px;
    margin-left: -200px;
    margin-right: -200px;


form input {
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  //margin-left: 40%;
  width: 50%;
  height: 35px;
  border: 1px solid #ff8c00;
}

button {
  width: 25%;
  font-size: 50pt;
  color: white;

  height: 55px;
  padding: 10px;
  border: 1px solid #F5C4AB;
}

#text_block{
padding: 0 30px 0 30px;
font-size: 50px;
}


.formm:hover {
  border: 3px solid #f59605;
  background:#DDE5B6;
  color: #f59605;
}
.hr-line {
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #f59605;
}

.formm{
color: white;
background:#ADC178;
font-weight:bold;
letter-spacing:10px;
}*/



.nn:link {
color:#454340;
}

.nn:hover {
color:#BE1919;
}

.nn:focus {
color:#BE1919;
}

.nn:visited {
color:#B8B6B4;
}

/*
#search{
font-weight:bold;
border:1px solid red;
}
*/


.hr-line {

	padding: 0;
	height: 0;

	border-top: 4px solid #BEC769;
	border-bottom: 1px solid #9AA345;
	padding-left: 55px;
    margin-right: 50px;

    box-shadow: 0 20px 20px -20px #000000;

	z-index:2;
}
/*
width: 95%;
border: none;
margin: 20px 0; */