{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/news01.css' %} ">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for key, tm in news_dict.items %}
    <meta name="description" content="{{key}}">
    {% endfor %}
    <title>ЛЕНТА НОВОСТЕЙ</title>
    <link href="{% static 'css/favicon.ico' %} " rel="shortout icon" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,300&display=swap" rel="stylesheet">
</head>
<body>





    <div class="exper">
        <div id="progress-container">
            <div id="ProgressBar" class="blog-progress-bar">
            </div>
        </div>

        <div class="menu">
            <nav class="one">
    <!--            <h2>1. li {display: inline;}</h2>-->
                    <ul class="navi">
<!--                        <li><a class="head-button" href="/index"><i class="fa fa-home fa-fw"></i>Home</a></li>-->
<!--                        <li><a class="head-button" href="#">НОВОСТИ ЗА НЕДЕЛЮ-->
                        <li>

                            {% if sing_news < 7 %}
                                <div class="sline">
                                    <a onclick="myFunction()" class="dropbtn" style="color:#D9E724;">
                                          НОВОСТИ ЗА НЕДЕЛЮ&#9660;</a>
                                    <span class="numb_news" >[{{numnews.0}}]</span>
                                </div>
                            {% else %}
                                <div>
                                    <a onclick="myFunction()" class="dropbtn">
                                    НОВОСТИ ЗА НЕДЕЛЮ&#9660;</a>
                                    <span class="numb_news" >[{{numnews.0}}]</span>
                                </div>
                            {% endif  %}



                        </li>
                            <div id="myDropdown" class="dropdown-content">
                                <div>
                                    {% if sing_news == 0 %}
                                        <div class="gline">
                                            <a href="/news0/0">ВСЕ ЗА НЕДЕЛЮ
                                                <span class="numb_news" >__________{{numnews.0}}</span></a>
                                        </div>
                                    {% else %}
                                         <div>
                                            <a href="/news0/0">ВСЕ ЗА НЕДЕЛЮ
                                                <span class="numb_news" >__________{{numnews.0}}</span></a>
                                        </div>
                                    {% endif  %}
                                </div>
                                <div>
                                    {% if sing_news == 1 %}
                                        <div class="gline">
                                            <a href="/news0/1">ЗА {{date_num.0}} (ВЧЕРА)
                                            <span class="numb_news" >___{{numnews.1}}</span></a>
                                        </div>
                                    {% else %}
                                         <div>
                                            <a href="/news0/1">ЗА {{date_num.0}} (ВЧЕРА)
                                            <span class="numb_news" >___{{numnews.1}}</span></a>
                                        </div>
                                    {% endif  %}
                                </div>
                                <div>
                                    {% if sing_news == 2 %}
                                        <div class="gline">
                                            <a href="/news0/2">ЗА {{date_num.1}}
                                            <span class="numb_news" >______________{{numnews.2}}</span> </a>
                                        </div>
                                    {% else %}
                                         <div>
                                            <a href="/news0/2">ЗА {{date_num.1}}
                                            <span class="numb_news" >______________{{numnews.2}}</span> </a>
                                        </div>
                                    {% endif  %}
                                </div>
                                <div>
                                    {% if sing_news == 3 %}
                                        <div class="gline">
                                            <a href="/news0/3">ЗА {{date_num.2}}
                                            <span class="numb_news" >______________{{numnews.3}}</span></a>
                                        </div>
                                    {% else %}
                                         <div>
                                            <a href="/news0/3">ЗА {{date_num.2}}
                                            <span class="numb_news" >______________{{numnews.3}}</span></a>
                                        </div>
                                    {% endif  %}
                                </div>
                                <div>
                                    {% if sing_news == 4 %}
                                        <div class="gline">
                                             <a href="/news0/4">ЗА {{date_num.3}}
                                             <span class="numb_news" >______________{{numnews.4}}</span></a>
                                        </div>
                                    {% else %}
                                         <div>
                                             <a href="/news0/4">ЗА {{date_num.3}}
                                             <span class="numb_news" >______________{{numnews.4}}</span></a>
                                        </div>
                                    {% endif  %}
                                </div>
                                <div>
                                    {% if sing_news == 5 %}
                                        <div class="gline">
                                             <a href="/news0/5">ЗА {{date_num.4}}
                                             <span class="numb_news" >______________{{numnews.5}}</span></a>
                                        </div>
                                    {% else %}
                                         <div>
                                             <a href="/news0/5">ЗА {{date_num.4}}
                                              <span class="numb_news" >______________{{numnews.5}}</span></a>
                                        </div>
                                    {% endif  %}
                                </div>
                                <div>
                                    {% if sing_news == 6 %}
                                        <div class="gline">
                                             <a href="/news0/6">ЗА {{date_num.5}}
                                             <span class="numb_news" >______________{{numnews.6}}</span></a>
                                        </div>
                                    {% else %}
                                         <div>
                                             <a href="/news0/6">ЗА {{date_num.5}}
                                             <span class="numb_news" >______________{{numnews.6}}</span></a>
                                        </div>
                                    {% endif  %}
                                </div>


                                <div class="box_hr_line">
                                    <hr class="hr-line"><br>
                                </div>
                            </div>

<!--                        <li><a class="head-button" href="/news1">ВЧЕРА</a></li>-->
<!--                        <li><a class="head-button" href="/news2">ПОЗАВЧЕРА</a></li>-->
                        <li>
                            <div>
                                {% if sing_news == 7 %}
                                    <div class="sline">
                                        <a class="head-button" class="dropbtn" style="color:#D9E724;"
                                         href="/news0/7">АНОНСЫ</a>
                                        <span class="numb_news" >[{{numnews.7}}]</span>
                                    </div>
                                {% else %}
                                    <div>
                                        <a class="head-button" class="dropbtn" href="/news0/7">АНОНСЫ</a>
                                        <span class="numb_news" >[{{numnews.7}}]</span>
                                     </div>
                                {% endif  %}
                            </div>
                        </li>
                        <li>
                            <div>
                                {% if sing_news == 8 %}
                                    <div class="sline">
                                        <a class="head-button" class="dropbtn" style="color:#D9E724;"
                                             href="/news0/8">ПРОИСШЕСТВИЯ</a>
                                        <span class="numb_news" >[{{numnews.8}}]</span>
                                    </div>
                                {% else %}
                                    <div>
                                        <a class="head-button" class="dropbtn" href="/news0/8">
                                            ПРОИСШЕСТВИЯ</a>
                                        <span class="numb_news" >[{{numnews.8}}]</span>
                                    </div>
                                {% endif  %}
                            </div>
                        </li>
                        <li>
                            <div>
                                {% if sing_news == 9 %}
                                    <div class="sline">
                                        <a class="head-button" class="dropbtn" style="color:#D9E724;"
                                             href="/news0/9">ОБЩЕСТВО</a>
                                        <span class="numb_news" >[{{numnews.9}}]</span>
                                    </div>
                                {% else %}
                                    <div>
                                        <a class="head-button" class="dropbtn" href="/news0/9">
                                            ОБЩЕСТВО</a>
                                        <span class="numb_news" >[{{numnews.9}}]</span>
                                    </div>
                                {% endif  %}
                            </div>
                        </li>
                        <li>
                            <div>
                                {% if sing_news == 10 %}
                                    <div class="sline">
                                        <a class="head-button" class="dropbtn" style="color:#D9E724;"
                                             href="/whyitsite/">ЗАЧЕМ ЭТОТ САЙТ?</a>

                                    </div>
                                {% else %}
                                    <div>
                                        <a class="head-button" class="dropbtn" href="/whyitsite/">
                                            ЗАЧЕМ ЭТОТ САЙТ?</a>

                                    </div>
                                {% endif  %}
                            </div>

                        </li>

                    </ul>
            </nav>
        </div>
<!--        <div class="currency">-->
<!--            <p><a class="currency" href="https://www.cbr.ru/currency_base/daily/"target="_blank"-->
<!--                  style="text-decoration: none; color: #F9FCFF;">USD {{ usd }}&nbsp EUR {{ eur }}</a></p>-->
<!--&lt;!&ndash;                ЦБ РФ на {{ date_ }}:&nbsp USD {{ usd }}&nbsp EUR {{ eur }}</a></p>&ndash;&gt;-->
<!--        </div>-->
    </div>

    <div class="global">


        {% block content %} {% endblock %}

    </div>

    <script>
    /*прогресбар*/
    document.addEventListener('scroll', function(){

        var h = document.documentElement,
            b = document.body,
            st = 'scrollTop',
            sh = 'scrollHeight';

        var score = (h[st]||b[st]) / ((h[sh]||b[sh]) - h.clientHeight) * 100;

        document.querySelector('#ProgressBar').style.width = score + '%';


        });
   </script>
    <script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {

        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>



</body>
</html>
