{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %} ">
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link href="{% static 'css/harry.ico' %} " rel="shortout icon" type="image/x-icon"/>
</head>
<body>
    <div>
        <h1>Contacts</h1>
        <p> welcome</p>
        <p><i>Email:</i>{{email}}<br><b>phone</b>{{phone}}</p>

        <a href="/index">Home</a>
        <br>
<!--        <a href="/index">Home</a><br>-->

        <a href="/search_">Search</a>
        <br>

        <a href="/news0">Test</a>
        <br>

<!--        <button type=submit class="btn btn-danger" onclick=" window.open('file:///C:/Users/79081/Downloads/2022-05-01_The_World_of_Interiors.pdf'); return true;"> PDF </button>-->
<!--        <p><a href="{% static 'xxx.jpg' %}" target="_blank">Открыть JPG файл в браузере</a></p>-->
<!--        <p><a href="{% static '2022-05-01_The_World_of_Interiors.pdf'  %}"-->
<!--            target="_blank">Открыть PDF файл в браузере</a></p>-->
    </div>
    <br>
    <hr>
    <div>
<!--        <a class="btn btn-primary" href="file:///C:/Users/79081/Downloads/2022-05-01_The_World_of_Interiors.pdf" role="button">Znak</a><br>-->
<!--        <a class="btn btn-primary" href="/znak/" role="button">Znak</a><br><br>-->
<!--        <button class="btn btn-primary"   href="/znak/" type="submit">Button</button><br><br>-->
<!--        <input class="btn btn-primary" type="button" value="Input"><br><br>-->
<!--        <input class="btn btn-primary"  type="submit" value="Submit"><br><br>-->
<!--        <input class="btn btn-primary" type="reset" value="Reset"><br><br>-->
<!--    </div>-->
<!--    <hr>-->
<!--    <div class="d-grid gap-2">-->
<!--        <button class="btn btn-primary"class="p-link" type="button">Button</button><br><br>-->
<!--        <button class="btn btn-primary" type="button">Button</button><br><br>-->
<!--    </div>-->
<!--    <div>-->
<!--        <input class="form-control me-2" background-color : #003399 type="search"-->
<!--               placeholder="Search" aria-label="Search">-->
<!--    </div>-->
</body>
</html>