{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %} ">
    <meta charset="UTF-8">
    <title>Dictionary</title>
    <link href="{% static 'css/harry.ico' %} " rel="shortout icon" type="image/x-icon"/>
</head>
<body>
    <h1>Dictionary</h1>
    <p> welcome</p>
    <a href="/search_"> Search </a><br>
    <a href="/contacts"> How call me </a><br>
    <p> ============================================</p><br>
    <a href="/dictionary/aries"> aries </a><br>
    <a href="../../dictionary/taurus"> taurus </a><br>
    <a href="../../dictionary/gemini"> gemini </a><br>
    <a href="../../dictionary/cancer"> cancer </a><br>
    <a href="../../dictionary/leo"> leo </a><br>
    <a href="../../dictionary/virgo"> virgo </a><br>
    <a href="../../dictionary/libra"> libra </a><br>
    <a href="../../dictionary/scorpio"> scorpio </a><br>
    <a href="../../dictionary/sagittarius"> sagittarius </a><br>
    <a href="../../dictionary/capricorn"> capricorn </a><br>
    <a href="../../dictionary/aquarius"> aquarius </a><br>
    <a href="../../dictionary/pisces"> pisces </a><br>

    <form name="ctc_test_form" id="ctc_test_form" action="/test/" method="post"
          class="ctc-quiz-form ctc_quiz_form ctc_quiz_form">-->
    {% csrf_token %}
        <button id="sub" style="border-radius:0px; width:333px; height:50px; border:2px solid
                #999">Submit</button>
    </form>



</body>
</html>