{% extends 'base_news0.html' %}
{% load static %}



{% block content %}
<div id="news_text">
    {% for key, tm in news_dict.items %}
    <div id="news_box">
<!--        <p id="text_block"><a class="nn" href="{% static tm %}"target="_blank">{{key}}</a></p>-->
        <h3 id="text_block" style="font-family: 'Roboto', sans-serif;">
            <a class="nn" href="{{tm.3}}" target="_blank" style="text-decoration: none">
            {{key}}</a>
        </h3>
        <hr class="hr-line">
<!--        <p>{{tm.0.1}} {{tm.1}} {{tm.2}}</p>-->
        <div id="source_">
            <p class="time_source">{{tm.2}}&nbsp&nbsp{{tm.1}}</p>
            <p class="time_source">{{tm.4}}</p>
        </div>
    </div>
<!--        {% if True %}-->
<!--        <div id="news_box-midlle">-->
<!--            <div class="adv-midlle">-->
<!--                <div class="visual1">-->
<!--                    <img src="{% static 'images/img3.jpg' %}" alt="">-->
<!--                </div>-->
<!--                <div class="visual1">-->
<!--                    <img src="{% static 'images/img4.jpg' %}" alt="">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        {% endif %}-->

    {% endfor %}
</div>
{% endblock %}