{% extends 'base_news0.html' %}
{% load static %}



{% block content %}
<div id="head1">
    <div class="head_01">
<!--        <h1 align="center">САМЫЕ ПОСЛЕДНИЕ НОВОСТИ{{sign_}}</h1>-->
        <h1 align="center">СВЕЖАЯ ЛЕНТА &nbsp<span style="color:#54453E;" >
            {{numnews.0}} НОВОСТЕЙ</span>&nbsp КУРСКИХ СМИ{{sign_}}</h1>
<!--        <h3 align="center">ПО ВСЕМ МЕСТНЫМ СМИ *{{sign_}}</h3>-->
        <p align="center">СЕГОДНЯ &nbsp&nbsp&nbsp{{day_}} {% now "F" %} {% now "Y" %}
        &nbsp&nbsp&nbspЦБ РФ на {{ date_ }}:&nbsp USD {{ usd }}&nbsp EUR {{ eur }}</p>
<!--                &nbsp&nbsp&nbsp {{time}}:{% now "i" %}:{% now "s" %}-->

<!--                <marquee behavior="alternate" direction="left" bgcolor="#82736C">-->
<!--                    <p>{% for key, tm in news_dict.items %}-->
<!--                    <a class="nn" href="{{tm.3}}" target="_blank" style="text-decoration: none">-->
<!--                        {{key}}</a> | {{tm.4}} | &nbsp&nbsp&nbsp-->
<!--                    {% endfor %}</p>-->
<!--                </marquee>-->
    </div>


</div>


<div id="content">

<!--            <div class="adv">-->
<!--                <div class="sticky">-->
<!--                    <div class="adv1">-->
<!--                        <img src="{% static 'images/img1.jpg' %}" alt="">-->
<!--                    </div>-->
<!--                    <div class="adv1">-->
<!--                        <img src="{% static 'images/img3.jpg' %}" alt="">-->
<!--                    </div>-->
<!--                    <div class="adv2">-->
<!--                        <h1>Lorem ipsum </h1>-->

<!--                        LoreM ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque-->
<!--                        consequuntur delectus ducimus est expedita id ipsam iure labore, officiis placeat-->
<!--                        recusandae rem reprehenderit. A ad amet cumque provident ullam?-->
<!--                        <hr class="hr-line">-->
<!--                        <br>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

    <div id="news_text">
        {% for key, tm in news_dict.items %}
        <div id="news_box">
    <!--        <p id="text_block"><a class="nn" href="{% static tm %}"target="_blank">{{key}}</a></p>-->
            <h3 class="text_block" style="font-family: 'Roboto', sans-serif;">
                <a class="nn" href="{{tm.3}}" target="_blank" style="text-decoration: none">
                {{key}}</a>
            </h3>
            <hr class="hr-line">
    <!--        <p>{{tm.0.1}} {{tm.1}} {{tm.2}}</p>-->
            <div id="source_">
                <p class="time_source">{{tm.2}}&nbsp&nbsp{{tm.1}}</p>
                <p class="time_source">{{tm.4}}</p>
            </div>
        </div>
    <!--        {% if True %}-->
    <!--        <div id="news_box-midlle">-->
    <!--            <div class="adv-midlle">-->
    <!--                <div class="visual1">-->
    <!--                    <img src="{% static 'images/img3.jpg' %}" alt="">-->
    <!--                </div>-->
    <!--                <div class="visual1">-->
    <!--                    <img src="{% static 'images/img4.jpg' %}" alt="">-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        {% endif %}-->

        {% endfor %}
    </div>


<!--           <div id="news_text">-->
<!--                {% for key, tm in news_dict.items %}-->
<!--                <div id="news_box">-->
<!--            &lt;!&ndash;        <p id="text_block"><a class="nn" href="{% static tm %}"target="_blank">{{key}}</a></p>&ndash;&gt;-->
<!--                    <h3 id="text_block" style="font-family: 'Roboto', sans-serif;">-->
<!--                        <a class="nn" href="{{tm.3}}" target="_blank" style="text-decoration: none">-->
<!--                        {{key}}</a>-->
<!--                    </h3>-->
<!--                    <hr class="hr-line">-->
<!--            &lt;!&ndash;        <p>{{tm.0.1}} {{tm.1}} {{tm.2}}</p>&ndash;&gt;-->
<!--                    <div id="source_">-->
<!--                        <p class="time_source">{{tm.2}}&nbsp&nbsp{{tm.1}}</p>-->
<!--                        <p class="time_source">{{tm.4}}</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--&lt;!&ndash;                {% if True %}&ndash;&gt;-->
<!--&lt;!&ndash;                <div id="news_box-midlle">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="adv-midlle">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="visual1">&ndash;&gt;-->
<!--&lt;!&ndash;                            <img src="{% static 'images/img3.jpg' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="visual1">&ndash;&gt;-->
<!--&lt;!&ndash;                            <img src="{% static 'images/img4.jpg' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                {% endif %}&ndash;&gt;-->

<!--                {% endfor %}-->
<!--            </div>-->

<!--            <div class="adv">-->
<!--                <div class="sticky">-->
<!--                    <div class="adv1">-->
<!--                        <img src="{% static 'images/img2.jpg' %}" alt="">-->
<!--                    </div>-->
<!--                    <div class="adv1">-->
<!--                        <img src="{% static 'images/img4.jpg' %}" alt="">-->
<!--                    </div>-->
<!--                    <div class="adv2">-->
<!--                        <h1>КАЛЕНДАРЬ </h1>-->

<!--                        <input type="date">-->
<!--                        <hr class="hr-line">-->
<!--                        <br>-->
<!--                        &lt;!&ndash;                         календарь&ndash;&gt;-->
<!--                        <script>-->
<!--                            console.log( document.querySelector('input').value );-->
<!--                        </script>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
</div>
{% endblock %}