{% extends 'base_news0.html' %}
{% load static %}
{% block content %}
<div id="head1">
    <div class="qr-code" >
        <a href="/whyitsite/"><img src="{% static 'images/sovamer.svg' %}" alt=""></a>
        <p class="qr-code-text"  style="color:#FFFFFF;font-weight: 900;" >SOVAbot.ru</p>
    </div>
    <div class="head_01">
        <div class="head_head">
            {% if sing_news == 0 %}
                <h1 align="center">СВЕЖАЯ ЛЕНТА&nbsp-&nbsp
                    <span class="blink7" style="color:#FFFFFF;">
                {{numnews.0}}
                    </span>&nbsp КУРСКИХ НОВОСТЕЙ</h1>
            {% endif  %}
            {% if sing_news == 1 %}
                  <h1 align="center">ЗА {{date_num.0}}&nbsp-&nbsp
                    <span class="blink7" style="color:#FFFFFF;">
                {{numnews.1}}</span>&nbsp  НОВОСТЕЙ</h1>
            {% endif  %}
            {% if sing_news == 2 %}
                    <h1 align="center">ЗА {{date_num.1}}&nbsp-&nbsp
                       <span class="blink7" style="color:#FFFFFF;">
                {{numnews.2}}</span>&nbsp  НОВОСТЕЙ</h1>
            {% endif  %}
            {% if sing_news == 3 %}
                    <h1 align="center">ЗА {{date_num.2}}&nbsp-&nbsp
                       <span class="blink7" style="color:#FFFFFF;">
                {{numnews.3}}</span>&nbsp  НОВОСТЕЙ</h1>
            {% endif  %}
            {% if sing_news == 4 %}
                    <h1 align="center">ЗА {{date_num.3}}&nbsp-&nbsp
                       <span class="blink7" style="color:#FFFFFF;">
                {{numnews.4}}</span>&nbsp  НОВОСТЕЙ</h1>
            {% endif  %}
            {% if sing_news == 5 %}
                    <h1 align="center">ЗА {{date_num.4}}&nbsp-&nbsp
                       <span class="blink7" style="color:#FFFFFF;">
                {{numnews.5}}</span>&nbsp НОВОСТЕЙ</h1>
            {% endif  %}
            {% if sing_news == 6 %}
                    <h1 align="center">ЗА {{date_num.5}} &nbsp-&nbsp
                       <span class="blink7" style="color:#FFFFFF;">
                {{numnews.6}}</span>&nbsp  НОВОСТЕЙ</h1>
            {% endif  %}
            {% if sing_news == 7 %}
                    <h1 align="center">АНОНСЫ &nbsp-&nbsp
                       <span class="blink7" style="color:#FFFFFF;">
                {{numnews.7}}</span>&nbsp  НОВОСТЕЙ</h1>
            {% endif  %}
            {% if sing_news == 8 %}
                    <h1 align="center">ПРОИСШЕСТВИЯ &nbsp-&nbsp
                       <span class="blink7" style="color:#FFFFFF;">
                {{numnews.8}}</span>&nbsp  НОВОСТЕЙ</h1>
            {% endif  %}
            {% if sing_news == 9 %}
                    <h1 align="center">ОБЩЕСТВО &nbsp-&nbsp
                        <span class="blink7" style="color:#FFFFFF;">
                {{numnews.9}}</span>&nbsp  НОВОСТЕЙ</h1>
            {% endif  %}
        </div>
<!--        <marquee behavior="alternate" direction="left" bgcolor="#82736C">-->
                    <p align="center"> КУРСК СЕГОДНЯ &nbsp&nbsp&nbsp{{day_}} {% now "F" %} {% now "Y" %}
        &nbsp&nbsp&nbspЦБ РФ на {{ date_ }}:&nbsp USD {{ usd }} &#x20BD;&nbsp EUR {{ eur }}
            &#x20BD;</p>
<!--        </marquee>-->
    </div>
    <div class="qr-code">
        <a href="/whyitsite/"><img src="{% static 'images/qr-code.svg' %}" alt=""></a>
        <p class="qr-code-text" >www.sovabot.ru</p>
    </div>
</div>
<div id="content">
<!--            <div class="adv">-->
<!--            </div>-->
    <div id="news_text">
        <p style="text-align:center;">Последнее обновление было в {% now "H" %}:{% now "i" %}:{%now "s"%}
        </p>
        {% for key, tm in news_dict.items %}
        <div id="news_box">
             <h3 class="text_block" >
                <a class="nn" href="{{tm.3}}" target="_blank" style="text-decoration: none">
                {{key}}</a>
            </h3>
            <hr class="hr-line">
              <div id="source_">
                <p class="time_source"> &#x1F4C5;{{tm.2}}&nbsp   <span
                        style="color:#F67F7B;">
                    &#128337;{{tm.1}}</span></p>
                <p class="time_source">{{tm.4}}&#x1F30E;</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}