{% load static %}

<! DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/base0.css' %} ">
    <meta charset="UTF-8">
    <title>Search</title>
    <link href="{% static 'css/harry.ico' %} " rel="shortout icon" type="image/x-icon"/>
    <!--Подключаем библиотеку jquery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>GFG : Scroll Indicator</title>
<!--    <style>-->
<!--        body {-->
<!--            margin: 0;-->
<!--        }-->

<!--        .text {-->
<!--            font-size: 80px;-->
<!--            color: green;-->
<!--            text-align: center;-->
<!--            line-height: 3em;-->
<!--        }-->

<!--        .line {-->
<!--            background: green;-->
<!--            height: 8px;-->
<!--            border-radius: 4px;-->
<!--            width: 0%;-->
<!--            position: fixed;-->
<!--            top: 0;-->
<!--        }-->
<!--    </style>-->
</head>
<body>

    <div>
        <h1 align="center" class="hform-control">SEARCH SISTEM SCN</h1>
        <h2 align="center" class="form-control"> by materials</h2>


    </div>
    <div>
        <section class="order">

			<div class="center" align="center">
                <form  action="/znak/" method="post">
                    {% csrf_token %}
                    <input  type="text" class="form-control" id="city" placeholder="" value=""
                    style="color:#B93434" name='city'><br>
                    <input  class="formm"  type="submit" class="form-control"
                            value="= S U B M I T =">
<!--                    <input class="button" type="submit"-->

                </form>
            </div>

		</section>

        <p align="center" type="text" class="form-control">=  s e a r c h _ q u e r y  =</p>
        <h3 align="center" style="color:#BE1919;" id="form_zapros" >{{zapros}}</h3>
        <p align="center" type="text" class="form-control">Found ={{aa}}= documents </p>
        <a class="text_block" href="/"> Home </a><br>

        <hr class="hr-line">
        <br>
    </div>





<!--    {% for key,tm in temp.items %}-->
<!--        <p><a href="{% static key.0 %}"target="_blank">{{key.0}}</a></p>-->
<!--        {% for i in  tm  %}-->
<!--            <p>{{i}}</p>-->
<!--        {% endfor %}-->
<!--        <hr>-->
<!--    {% endfor %}-->
    {% for key,tm in temp.items %}
    <div id="answer">
        <p class="text_block"
        ><a class="nn" href="{% static key %}"target="_blank">{{key }}</a></p>

        <p><pre class="text_block" >{{tm.0}}{{tm.1}}{{tm.2}}</pre></p>

    </div>
    <br>s
    <hr class="hr-line">
    <br>
    {% endfor %}


<!--    <script>-->
<!--         $('.scroll_top').click(function(){-->
<!--         $('html, body').animate({scrollTop: 0}, 1000);-->
<!--         });-->
<!--         $(window).scroll(function(){-->
<!--         if($(window).scrollTop() > 300){-->
<!--             $('.scroll_top').addClass('active');-->
<!--            }-->
<!--         else{-->
<!--             $('.scroll_top').removeClass('active');-->
<!--            }-->
<!--        });-->
<!--    </script>-->

    <button class="scroll_top active">
<!--        ::after-->
    </button>
    <script>
        $('.scroll_top').click(function(){
        $('html, body').animate({scrollTop: 0}, 1000);
        });
        $(window).scroll(function(){
            if($(window).scrollTop() > 300){
                $('.scroll_top').addClass('active');
            }
            else{
               $('.scroll_top').removeClass('active');
          }
        });
    </script>

    <script type="text/javascript">
        window.addEventListener('scroll',
                moveScrollIndicator);

        const scrollIndicatorElt =
            document.getElementById('scrollIndicator');

        const maxHeight =
            window.document.body.scrollHeight
            - window.innerHeight;

        function moveScrollIndicator(e) {
            const percentage =
                ((window.scrollY) / maxHeight) * 100;

            scrollIndicatorElt.style.width
                = percentage + '%';
        }
    </script>

<!--    <button class="scroll_top"></button>-->
</body>

</html>
