{% load static %}
<! DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/news01.css' %} ">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>=Test=</title>
    <link href="{% static 'css/favicon.ico' %} " rel="shortout icon" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,300&display=swap" rel="stylesheet">
</head>
<body>



    <div id="progress-container">
        <div id="ProgressBar" class="blog-progress-bar">

        </div>
    </div>

    <div class="exper">
        <div class="menu">
            <nav class="one">
    <!--            <h2>1. li {display: inline;}</h2>-->
                    <ul class="navi">
                        <li><a class="head-button" href="/index"><i class="fa fa-home fa-fw"></i>Home</a></li>
                        <li><a class="head-button" href="#">НОВОСТИ</a></li>
                        <li><a class="head-button" href="#">СЕГОДНЯ</a></li>
                        <li><a class="head-button" href="#">ВЧЕРА</a></li>
                        <li><a class="head-button" href="#">Contact</a></li>
                    </ul>
            </nav>
        </div>
        <div class="currency">
            <p>Курсы валют: USD_57,39&nbsp&nbsp&nbspEURO_57,76</p>
        </div>
    </div>

    <div class="global">
        <div id="head1">
            <div class="head_01">
        <!--        <h1 align="center">САМЫЕ ПОСЛЕДНИЕ НОВОСТИ{{sign_}}</h1>-->
                <h1 align="center">СВЕЖАЯ ЛЕНТА НОВОСТЕЙ{{sign_}}</h1>
                <h1 align="center">ПО ВСЕМ КУРСКИМ СМИ *{{sign_}}</h1>
                <p align="center">Курск &nbsp&nbsp&nbsp{{day_}} {% now "F" %} {% now "Y" %} &nbsp&nbsp&nbsp
                       {{time}}:{% now "i" %}:{% now "s" %}</p>
            </div>
        </div>
<!--        <h2>{{description_zodiac}}</h2>-->
    <!--    <a href="/index"> Home</a><br>-->
    <!--    <a href="https://docs.djangoproject.com/en/4.0/" target="_blank" title="Справка по DJANGO">-->
    <!--        Learn DJANGO🤍</a>-->
    <!--    <br><hr class="hr-line">-->

        <div id="content">
<!--            <div id="pogoda">-->
<!--               <a class="nuipogoda-iframe-informer" data-nuipogoda="informer3" href="https://nuipogoda.ru"-->
<!--                  style="height:263px;display:block;">НУ И ПОГОДА</a>-->
<!--                <script>(function(a,f,g){var e=a.createElement(f);e.async=1;e.src=g;-->
<!--                a=a.getElementsByTagName(f)[0];a.parentNode.insertBefore(e,a)})(document,'script',-->
<!--                '//nuipogoda.ru/informer/nuipogoda.js');</script>-->
<!--            </div>-->

            <div class="adv">
                <div class="sticky">
                    <div class="adv1">
                        <img src="{% static 'images/img1.jpg' %}" alt="">
                    </div>
                    <div class="adv1">
                        <img src="{% static 'images/img3.jpg' %}" alt="">
                    </div>
                    <div class="adv2">
                        <h1>Lorem ipsum </h1>

                        LoremD ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque
                        consequuntur delectus ducimus est expedita id ipsam iure labore, officiis placeat
                        recusandae rem reprehenderit. A ad amet cumque provident ullam?
                        <hr class="hr-line">
                        <br>
                    </div>
                </div>
            </div>

            <div id="news_text">
                {% for key, tm in news_dict.items %}
                <div id="news_box">
            <!--        <p id="text_block"><a class="nn" href="{% static tm %}"target="_blank">{{key}}</a></p>-->
                    <h3 id="text_block" style="font-family: 'Roboto', sans-serif;">
                        <a class="nn" href="{{tm.2}}" target="_blank" style="text-decoration: none">
                        {{key}}</a>
                    </h3>
                    <hr class="hr-line">
            <!--        <p>{{tm.0.1}} {{tm.1}} {{tm.2}}</p>-->
                    <div id="source_">
                        <p class="time_source">{{tm.1}}</p>
                        <p class="time_source">{{tm.3}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="adv">
                <div class="sticky">
                    <div class="adv1">
                        <img src="{% static 'images/img2.jpg' %}" alt="">
                    </div>
                    <div class="adv1">
                        <img src="{% static 'images/img4.jpg' %}" alt="">
                    </div>
                    <div class="adv2">
                        <h1>Lorem ipsum </h1>

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque
                        consequuntur delectus ducimus est expedita id ipsam iure labore, officiis placeat
                        recusandae rem reprehenderit. A ad amet cumque provident ullam?
                        <hr class="hr-line">
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    document.addEventListener('scroll', function(){

        var h = document.documentElement,
            b = document.body,
            st = 'scrollTop',
            sh = 'scrollHeight';

        var score = (h[st]||b[st]) / ((h[sh]||b[sh]) - h.clientHeight) * 100;

        document.querySelector('#ProgressBar').style.width = score + '%';


        });
   </script>
<!--перетаскивание кнопки на панель закладок  https://q-parser.ru/howto/button-->
<!--    ==================================================-->
<!--    <div>-->
<!--        <a class="btn btn-green desktop-visible" href="javascript:(function(){if (window.qp__showFrame !== undefined){window.qp__showFrame();}else{var s = document.createElement(&quot;script&quot;);s.charset=&quot;utf-8&quot;;s.type=&quot;text/javascript&quot;;s.src=&quot;https://q-parser.ru/dist/widget.js?p=br&amp;run=1&amp;u=undefined&quot;;document.body.appendChild(s);}}());" style="cursor:move;">Q-Parser — Выгрузка сайта</a>-->
<!--    </div>-->
<!--=============================================================-->


<!--<script>-->
<!--    var html = document.documentElement;-->
<!--    var body = document.body;-->

<!--    var scrollTop = html.scrollTop || body && body.scrollTop || 0;-->
<!--    scrollTop -= html.clientTop; // в IE7- <html> смещён относительно (0,0)-->

<!--&lt;!&ndash;    alert( "Текущая прокрутка: " + scrollTop );&ndash;&gt;-->


<!--    var scrollHeight = Math.max(-->
<!--  document.body.scrollHeight, document.documentElement.scrollHeight,-->
<!--  document.body.offsetHeight, document.documentElement.offsetHeight,-->
<!--  document.body.clientHeight, document.documentElement.clientHeight-->
<!--  var ssdd=100*scrollTop/body.offsetHeight-->
<!--  var score = ssdd;-->
<!--  document.querySelector('#score').style.width = score + '%';-->
<!--    );-->
<!--&lt;!&ndash;     var weight=&ndash;&gt;-->

<!--&lt;!&ndash;     div.progress-container.weight=ssdd+%&ndash;&gt;-->
<!--&lt;!&ndash;    alert( "Текущая прокрутка: " + body.scrollHeight );&ndash;&gt;-->
<!--    alert( "Текущая прокрутка: " + scrollHeight);-->





<!--&lt;!&ndash;    alert( "Текущая прокрутка: " + scrollTop );&ndash;&gt;-->
<!--</script>-->
<!--<script>-->
<!--    window.onscroll = function() {-->
<!--        let posLeft = (window.pageXOffset !== undefined) ? window.pageXOffset : (document.documentElement || document.body.parentNode || document.body).scrollLeft;-->
<!--        let posTop = (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;-->
<!--        console.log('x=' + posLeft + ', y=' + posTop);-->
<!--        alert( "прокрутка: " + let posTop);-->
<!--        }-->



<!--</script>-->
<!--<script>-->
<!--    const progress-container = document.getElementById('progress-container')-->
<!--    var weight=-->
<!--    document.addEventListener('scroll', function() {-->
<!--      // получаем высоту элемента, на котором произошло событие-->
<!--      console.log(this.weight);-->
<!--    });-->

<!--</script>-->


</body>
</html>
