{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %} ">
    <meta charset="UTF-8">
    <title>РЕЗУЛЬТАТ ТЕСТА</title>
    <link href="{% static 'css/harry.ico' %} " rel="shortcut icon" type="image/x-icon"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<h1 align="center">РЕЗУЛЬТАТ ТЕСТА</h1>
<!--    <p> welcome</p>-->
<!--    <a href="/contacts"> How call me </a><br>-->
<!--    <a href="/search_"> Search </a><br>-->
<!--    <a href="/news"> News </a><br><hr>-->
<!--    <p> ============================================</p><br>-->
<!--    <a href="../../dictionary/aries"> aries </a><br>-->
<!--    <a href="/dictionary/aries"> aries </a><br>-->
<!--    <p> SUMM= {{ temp }}</p>-->

    <button class="scroll_top active">
<!--        ::after-->
    </button>
    <h2 align="center">ИМЯ: {{cc1}}  </h2>
    <h2 align="center">mail: {{cc2}}  </h2>
    <h2 align="center">КОД: {{cc3}}  </h2>
<!--    <h2 align="center">Graph = {{zz}}</h2>-->
<!--    <p id="text_block" ><a class="nn" href="{% static nmf %}"target="_blank">{{nmf }}</a></p>-->

<!--    <p id="text_block"-->
<!--    ><a class="nn" href="../static/css/Igor_mix_on@bk.ru_0106022_01-06-2022_20-04.pdf "-->
<!--        target="_blank">{{nmf }}</a></p>-->
    {% if switcher == 1 %}
    <h3 id="text_block" align="center">
    <a class="nn" href="{% static  nmf %} "
        target="_blank">ПОСМОТРЕТЬ ГРАФИК ТЕСТА</a></h3>
    {% else %}
    <h3 class="text_block" align="center">
    Чтобы узнать результат, обратитесь на почту sovabot@bk.ru <br> или вернитесь на страницу теста и
        введите правильный КОД </h3>
    {% endif %}


</body>
</html>