{% extends 'base_news0.html' %}

{% block content %}
<div id="head1">
    <div class="head_01">
<!--        <h1 align="center">САМЫЕ ПОСЛЕДНИЕ НОВОСТИ{{sign_}}</h1>-->
        <h1 align="center">СВЕЖАЯ ЛЕНТА <span style="color:#54453E;" >
            {{numnews.0}} НОВОСТЕЙ</span> КУРСКИХ СМИ{{sign_}}</h1>
<!--        <h3 align="center">ПО ВСЕМ МЕСТНЫМ СМИ *{{sign_}}</h3>-->
        <p align="center">СЕГОДНЯ &nbsp&nbsp&nbsp{{day_}} {% now "F" %} {% now "Y" %}
        &nbsp&nbsp&nbspЦБ РФ на {{ date_ }}:&nbsp USD {{ usd }}&nbsp EUR {{ eur }}</p>
<!--                &nbsp&nbsp&nbsp {{time}}:{% now "i" %}:{% now "s" %}-->

<!--                <marquee behavior="alternate" direction="left" bgcolor="#82736C">-->
<!--                    <p>{% for key, tm in news_dict.items %}-->
<!--                    <a class="nn" href="{{tm.3}}" target="_blank" style="text-decoration: none">-->
<!--                        {{key}}</a> | {{tm.4}} | &nbsp&nbsp&nbsp-->
<!--                    {% endfor %}</p>-->
<!--                </marquee>-->
    </div>


</div>

<div id="content">
    <div id="news_text">

        <div id="news_box">

            <h2>ЗАЧЕМ ЭТОТ САЙТ</h2>

            <h3 class="text_block" style="font-family: 'Roboto', sans-serif;">


                    Хронологическую СВОДКА СВЕЖИЕ НОВОСТИ СО ВСЕХ СМИ КУРСКА и сми других регионов,
                которые пишут о Курске и области. Новости объединены в хронологическую ленту, где
                вверху самые свежие новости.
                По сжатой сводке Вы можете быстро получить общую информационную картину по Курску
                и области, о чем
                пишут СМИ и как они откликаются на события. Это положение,
                как бы на уровень выше, попробуйте прокрутить ленту.


            </h3>
            <h3 class="text_block" style="font-family: 'Roboto', sans-serif;">
                Смотрите с любого устройства.
            </h3>
            <h3 class="text_block" style="font-family: 'Roboto', sans-serif;">
                Новости автоматически, оперативно обновляются на нашем сайте и позволяют получать
                актуальную картину происходящих событий.


                Сообщения имеют информацию о дате и времени выхода на сайте источнике
            </h3>
            <h3 class="text_block" style="font-family: 'Roboto', sans-serif;">
                Сайт содержит ссылки на новости, но они позволяют быстро сориентироваться в
                информационном поле Курска и области не отвлекаясь на фото и картинки, прежде чем Вы
                выберете информацию, которая необходима. Это экономит трафик.
                Наша цель помочь быстрее сориентироваться в потоке новостей и не пропустить ВАЖНОЕ.
                Мы, стараемся охватить как можно больше СМИ и мы будем постоянно искать
                и добавлять эти источники новостей.
    <!--            , (если они будут соответствовать формату-->
    <!--            нашего сайта).-->
            </h3>
            <h3 class="text_block" style="font-family: 'Roboto', sans-serif;">
                Сам сайт не содержит новостей,
                "кликая" на новостную ссылку вы попадаете на сайт СМИ источник этой новости
                (автоматически в новом окне).

    <!--            (бывают случаи(редко)-->
    <!--            когда сайт СМИ удаляет новость, которая была ранее опубликована и вы попадаете на пустую страницу-->
    <!--            этого сайта(ошибка 404).Мы пока не отслеживаем такие случаи-->
            </h3>
            <h3 class="text_block" style="font-family: 'Roboto', sans-serif;">
                курсы валют по данным центра банка.
            </h3>
            <h3 class="text_block" style="font-family: 'Roboto', sans-serif;">
                Итак АНОНСЫ - это то что еще не произошло, будущие события, планы, объявления,
                предостережения
                информация к
                сведению. Анонсы - поможет не пропустить важные объявления и новости.
            </h3>
            <h3 class="text_block" style="font-family: 'Roboto', sans-serif;">
                ПРОИСШЕСТВИЯ - это то что уже свершилось, факты, то что уже завершено, закончено
            </h3>
            <h3 class="text_block" style="font-family: 'Roboto', sans-serif;">
                ОБЩЕСТВО - это то события связанные с экономикой, политикой, законами и
                государственными структурами.
            </h3>
            <h3 class="text_block" style="font-family: 'Roboto', sans-serif;">
                Если у вас есть вопросы и предложения, пишите: info@sova46.ru. Мы рассмотрим их и
                обязательно
                ответим.
                Спасибо за то что посетили наш сайт.
                 
            </h3>

            <hr class="hr-line">


        </div>

    </div>
</div>
{% endblock %}