{% extends 'base_news0.html' %}

{% block content %}
<div id="news_text">

    <div id="news_box">

        <h2>ЗАЧЕМ ЭТОТ САЙТ</h2>

        <h3 class="text_block" style="font-family: 'Roboto', sans-serif;">


                СВОДКА СВЕЖИЕ НОВОСТИ СО ВСЕХ СМИ КУРСКА и сми других регионов которые пишут о
            курске и
            области объеденена хронологическую ленту
            Быстро получить Общую информационную картину по курску и области по сжатой сводке а
            также используя кнопки по датам и по категориям
            Поможет не пропустить важные объявления и новости.

        </h3>
        <h3 class="text_block" style="font-family: 'Roboto', sans-serif;">
            По сути это ссылки на сами новости, но они позволяют быстро сориентироваться в информационном поле
            Курска и области
            Наша цель помочь быстрее сориентироватся в потоке новостей
            мы, стараемся охватить все СМИ, мы будем постоянно искать
            и добавлять эти  наиболее достоверные источники новостей, (если они будут соответствовать формату
            нашего сайта).
        </h3>
        <h3 class="text_block" style="font-family: 'Roboto', sans-serif;">
            новости автоматически оперативно обновляются на нашем сайте и позволяют получать оперативную картину
             курских новостей

            у всех новостей есть дата и время выхода на сайте источнике
        </h3>
        <h3 class="text_block" style="font-family: 'Roboto', sans-serif;">
            кликая на новостное ссылку вы попадаете на сайт СМИ источник этой новости(бывают случаи(редко)
            когда сайт СМИ удаляет новость, которая была ранее опубликована и вы попадаете на пустую страницу
            этого сайта(ошибка 404).Мы пока не отслеживаем такие случаи
        </h3>
        <h3 class="text_block" style="font-family: 'Roboto', sans-serif;">
            курсы валют по данным центра банка
        </h3>
        <hr class="hr-line">


    </div>

</div>
{% endblock %}