{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %} ">
    <meta charset="UTF-8">
    <title>Znak</title>
    <link href="{% static 'css/favicon.ico' %} " rel="shortout icon" type="image/x-icon"/>
    <!--Подключаем библиотеку-->
<!--	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<h1>Znak</h1>
    <p> welcome</p>
    <a href="/contacts"> How call me </a><br>
    <a href="/search_"> Search </a><br>
    <a href="/test"> Test </a><br>
    <p> ============================================</p><br>
<!--    <a href="../../dictionary/aries"> aries </a><br>-->
    <a href="/dictionary/aries"> aries </a><br>
    <p> найдено по запросу {{ temp }}</p>
    <p> SUMM {{ zz }}</p>





    <button class="scroll_top active">
<!--        ::after-->
    </button>
    <script>
        $('.scroll_top').click(function(){
        $('html, body').animate({scrollTop: 0}, 1000);
        });
        $(window).scroll(function(){
             if($(window).scrollTop() > 300){
                 $('.scroll_top').addClass('active');
                }
             else{
                 $('.scroll_top').removeClass('active');
                }
        });
    </script>
<!--    <button class="scroll_top"></button>-->


</body>
</html>